* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*.contededortodo {
    background-color: #e5e7e9;
    outline: 2px red solid;
    width: 100%;
}
*/

.cabeza {
    /*outline: 2px red solid;*/
    width: 100%;
    background-color: #fff;
    /*z-index: 100;*/
    overflow: hidden;
}

.contenheader {
    /*outline: 2px green solid;*/
    width: 82%;
    margin: 0 auto;
}

.logo {
    /*outline: 2px yellow solid;*/
    width: 20%;
    /*height: 70px;*/
    /*overflow: hidden;*/
    float: left;
}

.textoheader {
    float: right;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: rgb(34, 50, 100);
    margin-right: 1%;
    text-align: right;
    margin-top: 3%;
}

.tit_slide {
    font-size: 35px;
    color: #17202a;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, .5);
}

.menu_bar {
    display: none;
}

.menu {
    /*outline: 2px red solid;*/
    width: 82%;
    margin: 0 auto;
    background: rgb(34, 50, 100);
}

.menu nav {
    background: rgb(34, 50, 100);
    z-index: 1000;
    /*max-width: 1000px;*/
    width: 60%;
    margin: 0 auto;
}

.menu nav ul {}

.menu nav ul li {
    display: inline-block;
    /*float: left;*/
    position: relative;
    list-style: none;
}

.menu nav ul li:hover {
    background: rgb(182, 206, 35);
}

.menu nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    /*overflow: hidden;*/
}

.menu nav ul li a:hover {
    color: #000;
}

.menu nav ul li a span {
    margin-right: 10px;
}

.select {
    background: rgb(182, 206, 35);
}

.banner {
    width: 100%;
    padding: 15px;
    background-color: rgb(182, 206, 35);
    margin-top: 2%;
}

.banner p {
    width: 60%;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    border: 1px #fff solid;
    font-size: 22px;
    font-weight: bold;
    color: #17202a;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.primeraseccion {
    /*outline: 2px red solid;*/
    overflow: hidden;
    width: 100%;
    /*margin-top: 2%;*/
    background-color: #e5e7e9;
}

.margen {
    margin-top: 2%;
    margin-bottom: 2%;
}

.article-caption {
    position: absolute;
    bottom: 16px;
    /*max-width: 90%;*/
    text-align: center;
    background-color: rgba(200, 200, 200, 0.5);
    padding: 0px 19px;
}

.article-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.article-title {
    /*font-size: 17px;*/
    /*color: #000;*/
    /*font-family: 'Oswald', sans-serif;*/
}

.article-title a {
    font-size: 28px;
    color: #000;
    font-family: 'Oswald', sans-serif;
}

.letras {
    font-size: 18px;
}


/*--------------------footer---------------*/

footer {
    background-color: #17202a;
    height: 500px;
    overflow: hidden;
}

footer p {
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin-top: 2%;
}

.mapa {
    width: 100%;
    margin-top: 2%;
    height: 100px;
}

.mapa iframe {
    width: 100%;
}

.boton {
    /*outline: 2px red solid;*/
    width: 17.5%;
    /*text-align: center;*/
    margin: 0 auto;
    margin-top: 18%;
}


/*-----------nosotros--------------*/

.bannern {
    position: relative;
    width: 100%;
    height: 420px;
    background: url('../img/tubos.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.fondo {
    width: 100%;
    height: 420px;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
}

.fondo h1 {
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 55px;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}

.fondo h1 b {
    color: rgb(182, 206, 35);
}

.fondo p {
    width: 80%;
    margin-top: 1%;
    margin-left: 5%;
    font-size: 35px;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}

.btnn {
    /*outline: 2px red solid;*/
    width: 11.5%;
    /*text-align: center;*/
    margin: 0 auto;
    margin-top: 3%;
}

.contenedorn {
    width: 100%;
    overflow: hidden;
}

.bannernn {
    width: 100%;
    padding: 15px;
    background-color: rgb(182, 206, 35);
    /*margin-top: 2%;*/
    overflow: hidden;
}

.bannernn h1 {
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    font-size: 30px;
    font-weight: bold;
    color: rgb(34, 50, 100);
    font-family: 'Fjalla One', sans-serif;
}

.bannernn p {
    width: 90%;
    /*padding: 15px;*/
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 4%;
    font-size: 17px;
    color: #000;
    font-family: 'Fjalla One', sans-serif;
}

.bannernn2 {
    width: 100%;
    padding: 15px;
    /*background-color: rgb(50, 53, 58);*/
    /*margin-top: 2%;*/
    overflow: hidden;
}

.bannernn2 h1 {
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    font-size: 30px;
    font-weight: bold;
    /*color: #fff;*/
    color: rgb(182, 206, 35);
    font-family: 'Fjalla One', sans-serif;
}

.bannernn2 h1 b {
    color: rgb(182, 206, 35);
}

.bannernn2 p {
    width: 90%;
    /*padding: 15px;*/
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 4%;
    font-size: 18px;
    color: #000;
    /*color: rgb(34, 50, 100);*/
    font-family: 'Fjalla One', sans-serif;
}

.bannernn2 p b {
    color: rgb(182, 206, 35);
}

.contenmvv {
    /*outline: 2px red solid;*/
    width: 100%;
    overflow: hidden;
}

.bannernnn {
    width: 100%;
    padding: 15px;
    background-color: rgb(50, 53, 58);
    /*margin-top: 2%;*/
    overflow: hidden;
}

.bannernnn h1 {
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
}


/*--------------------servicios-------------*/

.banners {
    position: relative;
    width: 100%;
    height: 420px;
    background: url('../img/arqui.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.fondos {
    width: 100%;
    height: 420px;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
}

.fondos h1 {
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 55px;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}

.fondos h1 b {
    color: rgb(182, 206, 35);
}

.fondos p {
    width: 80%;
    margin-top: 1%;
    margin-left: 5%;
    font-size: 35px;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}

.contenservicios {
    width: 100%;
    outline: 2px red solid;
    overflow: hidden;
}

.bannerss {
    width: 100%;
    padding: 15px;
    background-color: rgb(182, 206, 35);
    /*margin-top: 2%;*/
    overflow: hidden;
}

.bannerss h1 {
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 30px;
    font-weight: bold;
    color: rgb(34, 50, 100);
    font-family: 'Fjalla One', sans-serif;
}

.bannerss h1 b {
    color: rgb(255, 255, 255);
}

.bannercontru {
    position: relative;
    width: 100%;
    height: 420px;
    background: url('../img/constru.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.fondos2 {
    width: 100%;
    height: 420px;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
}

.fondos2 h1 {
    width: 50%;
    margin-top: 13%;
    margin-left: 5%;
    font-size: 55px;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}

.fondos2 h1 b {
    color: rgb(182, 206, 35);
}

.contensercontru {
    width: 100%;
    overflow: hidden;
    /*margin-top: 2%;*/
}

.servcontru {
    width: 81%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2%;
}

.construuno {
    /*outline: 2px red solid;*/
    text-align: center;
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}

.icono {
    color: rgb(182, 206, 35);
    font-size: 40px;
}

.construuno:hover .icono {
    color: rgb(34, 50, 100);
}

.bannercontru2 {
    position: relative;
    width: 100%;
    height: 420px;
    background: url('../img/comercio.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}


/*--------------contacto---------*/

.bannerc {
    position: relative;
    width: 100%;
    height: 420px;
    background: url('../img/contacto.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.contenedorcontac {
    /*outline: 2px red solid;*/
    overflow: hidden;
    width: 100%;
    margin-bottom: 2%;
}

.contendirecc {
    /*outline: 2px green solid;*/
    width: 30%;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}


/* Badger
------------------------- */

.hola {
    margin: 15px 0;
    padding: 33px 15px 15px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .64);
}

[class*="badger"] {
    position: relative
}

[class*="badger"]:after {
    content: attr(data-badger);
    position: absolute;
    top: 0;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background: #999;
    color: #fff
}

.badger-left {
    border-top-left-radius: 6px
}

.badger-right {
    border-top-right-radius: 6px
}

.badger-left:after {
    left: 0;
    border-radius: 6px 0 6px 0
}

.badger-right:after {
    right: 0;
    border-radius: 0 6px 0 6px
}

.badger-danger:after {
    background: #d9534f
}

.badger-warning:after {
    background: #f0ad4e
}

.badger-success:after {
    background: #5cb85c
}

.badger-info:after {
    background: #5bc0de
}

.badger-inverse:after {
    background: #222
}

.contenform {
    width: 50%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}
